/* Fonte Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities; 

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --black-color: #1C1B1F;
  --gray-color: #8B8585;
  --green-color: #188038;
  --blue-color: #1A73E8;
  --blue-color-button: #C2E7FF;
  --orange-color: #E37400;

  --green-icon: #34A853;
  --yellow-icon: #FBBC04;
  --blue-icon: #2684FC;
}